[package]
name = "portscanner"
version = "1.0.0"
edition = "2024"

[dependencies]
tokio = { version = "1", features = ["full"] }
clap = { version = "4", features = ["derive"] }
anyhow = "1"
pnet = "0.35.0"
rand = "0.8"

[profile.dev]
opt-level = 0

[profile.release]
opt-level = 3